body {
	font-family: 'Allerta Stencil', sans-serif;
}

h1.title {
	text-align: left;
	padding-left: 0.2em;
}

div.app {
	width: 100%;
	text-align: center;
}

.flags {
	display: inline-block;
	font-size: 12px;
	color:#80797C;
}


.clickableimage:hover {
    cursor: pointer;
}


audio {
   display:none;
}

span#processing {
	color: red;
	display: none;
}
